.btn_small {
    height: 24px;
    width: 75px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

.word_header {
    margin-top: 5px;
}

body {
    background: url(../images/words.jpg)
}

nav {
    background-color: darkgoldenrod;
}