.btn_small {
    height: 24px;
    width: 75px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
    background-color: rgb(202, 103, 27);
}

.word_header {
    margin-top: 5px;
    text-transform: capitalize;
}

body {
    background: url(../images/words.jpg);


}

nav {
    background-color: rgb(202, 103, 27);

    
}

.container {
    margin-top: 50px;
}

.collapsible {
    background-color: rgb(202, 103, 27);
    border: 10px solid rgb(202, 103, 27);;
}

.collapsible-header {
    background-color: background-color: rgb(202, 103, 27);
}

form {
    background-color: rgb(202, 103, 27);
    
}

h3 {
    background-color: rgb(202, 103, 27);
   
}

.icons-bg {
   background-color: whitesmoke;
}

.edit-button {
    background-color: black;
    margin-left: 60px;
}