{% extends 'base.html' %}
{% block content %}
<ul class="collapsible">
    {% for entry in words %}
    <li>
    
       <div class="collapsible-header">
         
                <div class="word_header col s6">
                    <strong>{{entry.word}}</strong>
                </div>
                <div class="col s6">
                    <i class="material-icons">add</i>
                    <a class="waves-effect waves-light btn btn_small">Delete</a>
                    <a href="{{ url_for('edit_word', word_id= entry._id) }}" class="waves-effect waves-light btn btn_small blue">Edit</a>
                    
                </div>
        </div>
       
      <div class="collapsible-body">
       <span>
          <p> Definition: {{ entry.definition}}</p>
          <p>Posted: {{ entry.date }}</p>
          <p>Posted By: {{ entry.author}}</p>
       </span>
      </div>
    </li>

    {% endfor %}
  </ul>
    
{% endblock %}